.wrapper {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  margin-top: 100px;

  .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;

    h1 {
      font-size: 50px;
      color: white;
    }

    p {
      color: var(--color);
      font-size: 20px;
      max-width: 60%;
    }
  }

  .input_field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    position: relative;
    margin: auto;

    .input {
      width: 100%;
      border-radius: 10px;
      font-size: 20px;
      padding-inline: 20px;
      color: black;
      height: 50px;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      padding: 20px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 200px;
      font-size: 20px;
      right: 0px;
      height: 50px;
      top: 0;
      color: white;
      font-weight: 300;
      background-color: var(--button-color);
      cursor: pointer;

      &:hover {
        background-color: #1a73af;
      }
    }
  }

  .link_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    input {
      width: 50%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: rgb(236, 228, 228);
      padding-inline: 20px;
      font-size: 14px;
      height: 100%;
    }

    .copy_button {
      padding-inline: 20px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      font-weight: 300;
      font-size: 18px;
      width: 130px;
      height: 100%;
    }

    .copied_shortened_link {
      background-color: green;
      color: white;

      &:hover {
        background-color: unset;
        background-color: green;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    .text {
      p {
        max-width: 100%;
      }
    }

    .input_field {
      width: 100%;

      .input {
        width: 100%;
      }
      .button {
        width: 130px;
        font-size: 15px;
      }
    }

    .link_text {
      width: 100%;
      input {
        width: 100%;
      }

      .copy_button {
        font-size: 15px;
        width: 150px;
      }
    }
  }
}
