.wrapper {
  height: 80px;
  box-shadow: var(--box-shadow);
  width: 100%;
  background-color: lightgrey;
  color: black;
  border-bottom: 2px solid rgba($color: #fff, $alpha: 0.2);
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;

    .title {
      white-space: nowrap;
      font-size: 35px;
      font-weight: 900;
    }
    .links {
      display: flex;
      align-items: center;
      gap: 40px;
      justify-content: flex-end;
      grid-column: span 2;
      font-size: 20px;
      font-weight: 300;
      width: 100%;
      span {
        text-shadow: var(--text-shadow);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
