.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -100px;

  .wrapper1 {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .powered_by {
      color: var(--color);
      font-size: 30px;
    }
  }

  .wrapper_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100px;
    width: 100%;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--color);
      font-weight: 600;
      width: 100%;

      .links {
        display: flex;
        align-items: center;
        gap: 30px;

        li {
          cursor: pointer;
        }
      }

      .rights {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    .wrapper1 {
      height: 200px;

      .powered_by {
        font-size: 25px;
      }
    }

    .wrapper_2 {
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
      .container {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        .links {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          width: 100%;
          grid-gap: 20px;
          span {
            grid-column: span 12;
            cursor: pointer;
            white-space: nowrap;
          }
        }

        .rights {
          padding-top: 30px;
          align-self: flex-start;
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .wrapper {
    .wrapper1 {
      height: 200px;

      .powered_by {
        font-size: 25px;
      }
    }

    .wrapper_2 {
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
      .container {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        .links {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          width: 100%;
          grid-gap: 20px;
          span {
            grid-column: span 6;
            cursor: pointer;
            white-space: nowrap;
          }
        }

        .rights {
          padding-top: 30px;
          align-self: flex-start;
        }
      }
    }
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .wrapper {
    .wrapper1 {
      height: 200px;

      .powered_by {
        font-size: 25px;
      }
    }

    .wrapper_2 {
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
      .container {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        .links {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          width: 100%;
          grid-gap: 20px;
          span {
            grid-column: span 4;
            cursor: pointer;
            white-space: nowrap;
          }
        }

        .rights {
          padding-top: 60px;
          align-self: flex-start;
        }
      }
    }
  }
}
