.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin-bottom: 100px;
  color: white;
  margin-top: 200px;
  width: 100%;

  .email,
  .copyright,
  .rights {
    grid-column: span 4;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    margin-bottom: 100px;
    color: white;
    margin-top: 200px;
    width: 100%;
    grid-gap: 27px;

    .email,
    .copyright,
    .rights {
      grid-column: span 6;
    }
  }
}
