.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -100px;

  .wrapper1 {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .powered_by {
      color: var(--color);
      font-size: 30px;
    }
  }

  .wrapper_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100px;
    width: 100%;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--color);
      font-weight: 600;
      width: 100%;

      .links {
        display: flex;
        align-items: center;
        gap: 30px;

        li {
          cursor: pointer;
        }
      }

      .rights {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    .wrapper1 {
      height: 200px;
      .powered_by {
        font-size: 25px;
      }
    }
    .wrapper_2 {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-color);
      height: 100px;
      width: 100%;

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color);
        font-weight: 600;
        width: 100%;

        .links {
          display: flex;
          align-items: center;
          gap: 30px;
          max-width: 60%;

          li {
            cursor: pointer;
          }
        }

        .rights {
          display: flex;
          align-self: flex-end;
          justify-content: flex-end;
          flex-direction: column;
          white-space: nowrap;
        }
      }
    }
  }
}
