@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --borders: 1px solid rgb(201, 197, 197);
  --border-color: rgb(201, 197, 197);
  --color: #b9b9b9;
  --text-shadow:text-shadow: -2px -1px 6px rgba(0,0,0,0.2);
  --text-color: #fff;
  --button-color: #2281c2;
  --button-hover-color: #1a73af;
  --bg-color: #28384a;
}

body {
  font-family: "Proxima Nova", monospace;
  font-size: 16px;
  background-color: var(--bg-color);
  color: white;
}

h2 {
  font-size: 40px;
}

.fw {
  width: 100%;
  
}
.fw_np {
  width: 100%;
}

.sw_70 {
  max-width: 1200px;
  padding-left: 70px;
  padding-right: 70px;
  margin: auto;
}

.sw {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

button, input{
  border: none;
  outline: none;
}

h1{
  color: red;
}

button{
    background-color: #2281c2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    right: 0px;
    height: 60px;
    top: 0;
    color: white;
    font-weight: 300;
    background-color: var(--button-color);
    cursor: pointer;
}

button:hover{
  background-color: var(--button-hover-color);
}

li{
  list-style: none;
  white-space: nowrap;
}